<footer class="bg-dark text-center text-white">
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2); color: #ffc107;">
    © 2021 Copyright:
    <a class="text" href="<%= root_path %>" style="color: #ffc107;">Delivery APP</a>
  </div>
</footer>
